<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
            <title>Nuova password</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='stylepagine.css') }}">
            <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
            <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-192.png') }}">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-title" content="Beach Volley">
    </head>
    <body>
        <div class="colonna laterale"></div>
        <div class="colonna centrale">
            <div class="contenitore-box">
                <div class="titolo-pagina">Reimposta la tua password</div>
                <form method="POST">
                    <label for="password">Nuova password</label>
                    <input type="password" name="password" required>
                    <button type="submit">Aggiorna password</button>
                </form>
            </div>
        </div>
        <div class="colonna laterale"></div>
    </body>
</html>
