<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylepagine.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-192.png') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Beach Volley">
</head>
<body>
    <div class="colonna laterale"></div>
    <div class="colonna centrale">
        <div class="contenitore-box">
            <div class="titolo-pagina">Registrazione</div>
            <div class="box">
                <form method="POST">
                    <label for="username">Nome utente</label>
                    <input type="text" name="username" placeholder="Es. Mario Rossi" required>

                    <label for="email">Email</label>
                    <input type="email" name="email" required>

                    <label for="password">Password</label>
                    <input type="password" name="password" required>

                    <button type="submit">SIGN UP</button>
                </form>
                <p>Hai già un account? <a href="/login">Accedi</a></p>
            </div>
        </div>
    </div>
    <div class="colonna laterale"></div>
</body>
</html>
