<!DOCTYPE html>
<html lang="it">
    <head>
        <head>
            <meta charset="UTF-8">
            <title>Recupero password</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='stylepagine.css') }}">
            <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
            <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-192.png') }}">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-title" content="Beach Volley">
        </head>
    </head>
    <body>
        <div class="colonna laterale"></div>
        <div class="colonna centrale">
            <div class="contenitore-box">
                <div class="titolo-pagina">Recupera la password</div>
                <form method="POST" class="box">
                    <label for="email">Inserisci la email con la quale ti sei registrato</label>
                    <input type="email" name="email" placeholder="Es. mario@esempio.com" required>
                    <button type="submit">Invia link</button>
                </form>
            </div>
        </div>
        <div class="colonna laterale"></div>
    </body>
</html>
